body {
  font-size: 0.8em;
  font-family: Helvetica, Arial, sans-serif;
  color: #d2d2d2;
  background-color: #1a1d21;
  margin: 0;
  text-align:center;
}

#canvas-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 128px;
}

#button-start {
  font-size: 1.5em;
}

#text-attention {
  margin: 8px;
}
